<div>
  <div>
    <h1>
      Group #<%= @the_group.id %> details
    </h1>

    <div>
      <div>
        <a href="/groups">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_group/<%= @the_group.id %>">
          Delete group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Group name
      </dt>
      <dd>
        <%= @the_group.group_name %>
      </dd>

      <dt>
        Creator
      </dt>
      <dd>
        <%= @the_group.creator_id %>
      </dd>

      <dt>
        Group description
      </dt>
      <dd>
        <%= @the_group.group_description %>
      </dd>

      <dt>
        Memberships count
      </dt>
      <dd>
        <%= @the_group.memberships_count %>
      </dd>

      <dt>
        Categories count
      </dt>
      <dd>
        <%= @the_group.categories_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
  <h2>
     Edit Group Members
  </h2>
  <h4>
    My role: <%= current_user.role_in_group(@the_group) %>
  </h4>

  <div>
    
    <%# html form with a dropdown with search options to add group members from friends list %> 
    <div>You have <%=current_user.accepted_friend_requests_count%> friends</div>
    <form action="/insert_membership/<%= @the_group.id %>" method="post" >
      <div>
        <label for="group_member_box">
          Add group members from friend list
        </label>
        
        <select id="group_member_box" name="query_username" value="">
          <% current_user.friend_list.each do |friend| %>
            <option value="<%= friend.username %>"><%= friend.username %></option>
          <% end %>
        </select>
      </div>
      <button>
        Add member
      </button>
    </form>
  </div>

  <%# list all members of the group %>
  <div>
    <h3>
      Group members
    </h3>

    <table>
      <th>User</th>
      <th>Role</th>
      <th></th>
      <% @the_group.members.each do |member| %>
        <tr>
          <td>
            <%= member.username %>
          </td>
          <td>
            <%= member.role_in_group(@the_group) %>
          </td>
          <td>
            <% if current_user.role_in_group(@the_group) == "admin" and member.role_in_group(@the_group) != "admin"%>
              <% the_membership_id = Membership.where(group_id: @the_group.id, user_id: member.id).first.id %>
              <form action="/delete_membership/<%= the_membership_id %>" method="get" >
                <input type="hidden" name="query_group_id" value="<%= @the_group.id %>">
                <button>
                  Remove member
                </button>
              </form>            
            <% else %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
    
    <hr>

<div>
  <div>
    <h2>
      Edit group details
    </h2>
    
    <form action="/modify_group/<%= @the_group.id %>"  method="post" >
      <div>
        <label for="group_name_box">
          Group name
        </label>

        <input type="text" id="group_name_box" name="query_group_name" value="<%= @the_group.group_name %>">
      </div>

      <div>
        <label for="creator_id_box">
          Creator
        </label>

        <input type="text" id="creator_id_box" name="query_creator_id" value="<%= @the_group.members.first.username %>">
      </div>

      <div>
        <label for="group_description_box">
          Group description
        </label>

        <input type="text" id="group_description_box" name="query_group_description" value="<%= @the_group.group_description %>">
      </div>

      <div>
        <label for="memberships_count_box">
          Memberships count
        </label>

        <input type="text" id="memberships_count_box" name="query_memberships_count" value="<%= @the_group.memberships_count %>">
      </div>

      <div>
        <label for="categories_count_box">
          Categories count
        </label>

        <input type="text" id="categories_count_box" name="query_categories_count" value="<%= @the_group.categories_count %>">
      </div>

      <button>
        Update group
      </button>
    </form>
  </div>
</div>

<hr>
