<div>
  <h1>
    Group #<%= @the_group.id %> details
  </h1>

  <div>
    <div>
      <a href="/groups">
        Go back
      </a>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Group name</th>
    <td><%= @the_group.group_name %></td>
  </tr>
  <tr>
    <th>Group description</th>
    <td><%= @the_group.group_description %></td>
  </tr>
  <tr>
    <th>Memberships count</th>
    <td><%= @the_group.memberships_count %></td>
  </tr>
  <tr>
    <th>Categories count</th>
    <td><%= @the_group.categories_count %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= time_ago_in_words(@the_group.created_at) %> ago</td>
  </tr>
</table>

<hr>
<div>
  <div>
    <h2>
      Edit group details
    </h2>

    <form action="/modify_group/<%= @the_group.id %>"  method="post" >
      <div>
        <label for="group_name_box">
          Group name
        </label>

        <input type="text" id="group_name_box" name="query_group_name" value="<%= @the_group.group_name %>">
      </div>

      <div>
        <label for="group_description_box">
          Group description
        </label>

        <input type="text" id="group_description_box" name="query_group_description" value="<%= @the_group.group_description %>">
      </div>

      <button>
        Update group
      </button>
      <div>
        <% if current_user.role_in_group(@the_group) == "admin" %>
          <a href="/delete_group/<%= @the_group.id %>">
            Delete group
          </a>
        <% end %>
      </div>
    </form>
  </div>
</div>
<hr>
</div>

<div style="display: flex; justify-content: space-between;">
  <div>
    <h2>
      Edit Group Members
    </h2>
    <h4>
      My role: <%= current_user.role_in_group(@the_group) %>
    </h4>

    <div>

      <%# html form with a dropdown with search options to add group members from friends list %>
      <div>You have <%=current_user.accepted_friend_requests_count%> friends</div>
      <form action="/insert_membership/<%= @the_group.id %>" method="post" >
        <div>
          <label for="group_member_box">
            Add group members from friend list
          </label>

          <select id="group_member_box" name="query_username" value="">
            <% current_user.friend_list.each do |friend| %>
              <option value="<%= friend.username %>"><%= friend.username %></option>
            <% end %>
          </select>
        </div>
        <button>
          Add member
        </button>
      </form>
    </div>
  </div>
  <%# list all members of the group %>
  <div>
    <h3>
      Group members
    </h3>

    <table>
      <th>User</th>
      <th>Role</th>
      <th></th>
      <% @the_group.members.each do |member| %>
        <tr>
          <td>
            <%= member.username %>
          </td>
          <td>
            <%= member.role_in_group(@the_group) %>
          </td>
          <td>
            <% if current_user.role_in_group(@the_group) == "admin" and member.role_in_group(@the_group) != "admin"%>
              <% the_membership_id = Membership.where(group_id: @the_group.id, user_id: member.id).first.id %>
              <form action="/delete_membership/<%= the_membership_id %>" method="get" >
                <input type="hidden" name="query_group_id" value="<%= @the_group.id %>">
                <button>
                  Remove member
                </button>
              </form>
            <% else %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
  <hr>
</div>
<hr>

<div>
  <h2>
    Create a new category
  </h2>

  <form action="/insert_category/<%= @the_group.id %>" method="post" >
    <div>
      <label for="category_name_box">
        Category name
      </label>

      <input type="text" id="category_name_box" name="query_category_name" value="">
    </div>

    <div>
      <input type="hidden"  name="query_category_group_id" value="<%=@the_group.id%>">
    </div>

    <button>
      Create category
    </button>
  </form>
</div>
<hr>
<div>
  <h2>
    Categories
  </h2>

  <table class="table table-striped">
    <th>Category name</th>
    <th></th>
    <% @the_group.categories.each do |category| %>
      <tr>
        <td>
          <%= category.category_name %>
        </td>
        <td>
          <% if current_user.role_in_group(@the_group) == "admin" or current_user.role_in_group(@the_group) == "member" %>
            <a href="/categories/<%= category.id %>">
              Show category
            </a>
          <% end %>
        </td>
      </tr>
    <%end%>
  </table>
</div>
<hr>
</div>
