<div>
  <div>
    <h1>
      <%=current_user.username%>'s Friends
    </h1>
  </div>
</div>

<% pending_received_requests = FriendRequest.pending.where(recipient: current_user.id) %>
<% pending_sent_requests = FriendRequest.pending.where(sender: current_user.id) %>

<hr>

<div>
  <div>
    <h2>
      Add a new friend
    </h2>

    <form action="/insert_friend_request" method="post">
      <div>
        <!-- Hidden field -->
        <input type="hidden" name="query_sender_id" value="<%=current_user.id%>">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <%# <input type="text" id="recipient_id_box" name="query_recipient_id"> %>
        <select id="recipient_id_box" name="query_recipient_username" value="">
          <% excluded_ids = current_user.friend_list.pluck(:id) + [current_user.id] + current_user.received_friend_requests.pending.pluck(:sender_id) + current_user.sent_friend_requests.pending.pluck(:recipient_id) %>
          <% User.where.not(id: excluded_ids).each do |not_friend| %>
            <option value="<%= not_friend.username %>"><%= not_friend.username %></option>
          <% end %>
        </select>

      </div>

      <div>
        <!-- Hidden field -->
        <input type="hidden" name="query_status" value="pending">
      </div>

      <button>
        Create friend request
      </button>
    </form>
  </div>
</div>
<hr>
<h2>
  You have <%= current_user.friend_list.count %> friends
</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Friends
        </th>
        <th></th>
      </tr>

      <% current_user.friend_list.sort_by { |user| -user.username }.each do |a_friend| %>
        <tr>
          <td>
            <%= a_friend.username %>
          </td>
          <td>
            <% friend_request = FriendRequest.where(sender_id: current_user.id, recipient_id: a_friend.id).or(FriendRequest.where(sender_id: a_friend.id, recipient_id: current_user.id)).first %>
            <form action="/delete_friend_request/<%=friend_request.id%>" method="get">
              <button>
                Remove friend
              </button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2>

  <% pending_received_requests_users = User.where(id: pending_received_requests.pluck(:sender_id).flatten) %>

  You have <%= pending_received_requests.count %> pending <u>recieved</u> friend requests
</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Requester
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      <% pending_received_requests_users.each do |a_requestor| %>
        <tr>
          <td>
            <%=a_requestor.username%>
          </td>
          <td>
            <% the_request_id = FriendRequest.where(sender_id: a_requestor.id, recipient_id: current_user.id).first.id %>
            <form action="/accept_friend_request/<%=the_request_id%>" method="post">
              <button>
                Accept
              </button>
            </form>
          </td>
          <td>
            <form action="/delete_friend_request/<%=the_request_id%>" method="get">
              <button>
                Reject
              </button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2>

  <% pending_sent_requests_users = User.where(id: pending_sent_requests.pluck(:recipient_id).flatten) %>

  You have <%= pending_sent_requests.count %> pending <u>sent</u> friend requests
</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Receiver
        </th>
        <th>
        </th>
      </tr>
      <% pending_sent_requests_users.each do |a_receiver| %>
        <tr>
          <td>
            <%=a_receiver.username%>
          </td>
          <td>
            <% the_receiver_id = FriendRequest.where(sender_id: current_user.id, recipient_id: a_receiver.id).first.id %>
            <form action="/delete_friend_request/<%=the_receiver_id%>" method="get">
              <button>
                Un-request
              </button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
