<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="group_id_box">
          Group
        </label>

        <input type="text" id="group_id_box" name="query_group_id">
      </div>

      <div>
        <label for="category_name_box">
          Category name
        </label>

        <input type="text" id="category_name_box" name="query_category_name">
      </div>

      <div>
        <label for="receipts_count_box">
          Receipts count
        </label>

        <input type="text" id="receipts_count_box" name="query_receipts_count">
      </div>

      <button>
        Create category
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Group
        </th>

        <th>
          Category name
        </th>

        <th>
          Receipts count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_categories.each do |a_category| %>
      <tr>
        <td>
          <%= a_category.id %>
        </td>

        <td>
          <%= a_category.group_id %>
        </td>

        <td>
          <%= a_category.category_name %>
        </td>

        <td>
          <%= a_category.receipts_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_category.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_category.updated_at) %> ago
        </td>

        <td>
          <a href="/categories/<%= a_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
