<div>
  <div>
    <h1>
      Category #<%= @the_category.id %> details
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Group
      </dt>
      <dd>
        <%= @the_category.group_id %>
      </dd>

      <dt>
        Category name
      </dt>
      <dd>
        <%= @the_category.category_name %>
      </dd>

      <dt>
        Receipts count
      </dt>
      <dd>
        <%= @the_category.receipts_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >

      <div>
        <label for="category_name_box">
          Category name
        </label>

        <input type="text" id="category_name_box" name="query_category_name" value="<%= @the_category.category_name %>">
      </div>

      <button>
        Update category
      </button>
    </form>
  </div>
</div>

<hr>
<% @the_category.receipts.each do |a_receipt| %>
  <div>
    <div>
      <a href="/receipts/<%= a_receipt.id %>">
        <%= a_receipt.caption %>
      </a>
      <img src="<%= a_receipt.image %>">
      <%# <%= image_tag rails_blob_path(a_receipt.image) if a_receipt.image? %>
    </div>
  </div>
<% end %>

<hr>

<div>
  <div>
    <h2>
      Add a new receipt
    </h2>

    <form action="/insert_receipt" method="post" enctype="multipart/form-data">
      <label for="caption">Caption:</label>
      <input type="text" id="caption" name="query_caption">

      <label for="image">Image:</label>
      <input type="file" id="image" name="query_image">

       <%# hidden inputs %>
      <input type="hidden" name="query_category_id" value="<%= @the_category.id %>">
      <input type="hidden" name="query_owner_id" value="<%= current_user.id %>">


      <button>
        Submit
      </button>
    </form>
  </div>
</div>

<hr>
